<div class="articlecomment">
<%= form_for(article) do |f| %>
  <div class="field">
    <%= f.label "Commentaire : " %>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit "Post comment"%>
  </div>
<% end %>
</div>
