<p id="notice"><%= notice %></p>

<h2 class="redh2">Index des articles</h2>

<%= alphabetical_paginate @alphaParams%>
<div id="pagination_table">
  <ul>
    <% @articles.each do |art| %>
      <li><%= link_to art.fr_name, art %>  <%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <%end%>
  </ul>
</div>

<br>


