<p id="notice"><%= notice %></p>

<h2>Index des thèmes de la Pantopie</h2>

<p class="desc"> Tirés du site de la <a href="pantopie.org">Pantopie</a>, ces thèmes classent ici les articles selon chaque dimensions auxquelles elles sont associées</p>

<ul class="theme_display">
  <% @themes.each do |theme| %>
    <li>
      <%= link_to theme.full_theme, theme%>
    </li>
  <% end %>
</ul>
