<p id="notice"><%= notice %></p>

<div class="banner">
  <h2><%= @theme.full_theme %></h2>
</div>

<p>
  <strong>Articles Associés à ce thème</strong>
  <ul>
    <%@theme.articles.each do |t|%>
      <li><%= link_to t.fr_name, t%></li>
    <%end%>
  </ul>
</p>

<%= link_to 'Back', themes_path %>
