
<div class="titlebar">
  <div class="toptitle">
    <h2>Liste des articles de <%= @theme.full_theme %></h2>
  </div>
</div>

<div class="pagecontent bg-2">
    <% @theme.articles.each do |a|%>
    <div class="block <%=a.random_color%>">
      <div class="block-margin">
          <span class="block-content"><%=a.fr_name%></span>
          <%= link_to "Lire l'article", a, class: "block-link"%>
      </div>
    </div>
    <% end %>
  </ul>
</div>
