<p id="notice"><%= notice %></p>

<div class="titlebar">
    <div class="toptitle">
      <h2 >Liste des différents auteurs</h2>
    </div>
</div>

<div class="pagecontent bg-1">
      <% @authors.each do |a| %>
        <div class="block <%= a.random_color%>">
          <div class="block-margin">
            <span class="block-content"><%= a.full_name%></span>
            <%= link_to "Voir le profil", a, class:"block-link" %>
          </div>
        </div>
      <% end %>
</div>
