@import '../variables/*'

.bg-hover-red
    &:hover
        background: $red

.bg-hover-blue
    &:hover
        background: $blue

.bg-hover-orange
    &:hover
        background: $orange


/////////////////////////////

.bg-white
    background: $white

.bg-grey
    background: $grey

.bg-1
    background: linear-gradient(to right, rgba(102,102,102,0.8) 0%, rgba(153,153,153,0.32) 100%), image-url('bg-1.jpg') no-repeat center
    background-size: cover
    background-attachment: fixed

.bg-2
    background: linear-gradient(to right, rgba(102,102,102,0.8) 0%, rgba(153,153,153,0.32) 100%), image-url('bg2.jpg') no-repeat center
    background-size: cover
    background-attachment: fixed
.bg-3
    background: linear-gradient(to right, rgba(102,102,102,0.8) 0%, rgba(153,153,153,0.32) 100%), image-url('bcg.jpg') no-repeat center
    background-size: cover
    background-attachment: fixed

/////////////////////////////

.border-top-red
    border-top: 10px solid $red
    border-radius: 2px

.border-top-orange
    border-top: 10px solid $red
    border-radius: 2px

.border-top-green
    border-top: 10px solid $green
    border-radius: 2px

.border-top-blue
    border-top: 10px solid $blue
    border-radius: 2px

.border-top-purple
    border-top: 10px solid $purple
    border-radius: 2px

.border-top-grey
    border-top: 10px solid $grey
    border-radius: 2px
