// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color_red: #FF9C1C
$color_white: #fff
$color_green: #1CAFFF
$color_grey: #333
$color_light_red: rgba(255,156,28,0.65)
$border: 2px solid $color_grey
$title: 'PT Sans', sans-serif
$font-text: 'Cormorant Garamond', serif

body
  background-color: #fff

.pagination
  ul
    display: flex
    flex-flow: row wrap
    margin: 10px

    li
      list-style: none
      padding: 10px
      background-color: $color_light_red

      a
        color: $color_white
        text-decoration: none

        &:hover
          background-color: $color_green

      &:hover
        background-color: $color_green

      .active
        background-color: $color_red

#pagination_table
  display: flex
  flex-flow: row wrap
  list-style: none

  li
    list-style: circle

/*******************************
/***** Edit Page ***************

.articleform
  display: flex
  flex-flow: column, wrap
  justify-content: center

  .field

    label
      font-size: 16px
      padding: 5px
      border-left: 2px dotted #333
      font-family: $title


    input
      width: 400px
      border: $border
      padding: 5px
      font-family: $font-text
      font-size: 16px

      &::-moz-selection
        background-color: $color_red
        color: $color_white

      selection
        background-color: $color_red
        color: $color_white

    textarea
      width: 400px
      height: 300px
      max-height: 300px
      max-width: 400px
      min-height: 300px
      min-width: 400px
      border: $border
      padding: 5px
      font-family: $font-text

      &::-moz-selection
        background-color: $color_red
        color: $color_white

      &::selection
        background-color: $color_red
        color: $color_white

    select
      width: 198px
      margin: 5px
      border: $border

      option
        background-color: $color_grey
        color: $color_white
        font-family: $font-text

    &::-moz-selection
      background-color: $color_red
      color: $color_white

  .actions

    input
      width: 412px
      border: $border
      background-color: $color_grey
      color: white
      padding: 5px
      font-family: $title

      &:hover
        background-color: $color_red

      &:active
        background-color: $color_green

.h2forms
  font-size: 30px
  border-bottom: 5px solid $color_red
  color: $color_red
  font-family: $title
  padding: 10px
  text-justify: center

  span
    color: $color_green

/*********************************
/************ Show Page **********

.article_theme

  a
    text-decoration: none
    padding: 5px
    background-color: $color_light_red

    &:hover
      background-color: $color_red


/*********************************
/************* CRUD Btns *********

.button_crud
  display: flex
  justify-content: center
  a
    margin: 5px
    padding: 10px
    border: $border
    border-radius: 3px
    background-color: $color_light_red
    color: #ffffff
    text-decoration: none

    &:hover
      background-color: $color_red

heading

