// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color_red: #FF9C1C
$color_white: #fff
$color_green: #1CAFFF
$color_grey: #333
$color_light_red: rgba(255,156,28,0.65)
$color_light_white: rgba(255,255,255,0.9)

.banner
  margin: 0px -20px
  width: 100%
  background: $color_grey
  color: #fff
  padding: 20px
  font-size: 30px

  strong
    margin-left: 20px


