// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color_grey: #333
$color_light_white: rgba(255,255,255,0.9)

.content
  margin: 50px
  padding: 20px
  background: $color_light_white
  color: $color_grey
  border: 5px solid $color_grey


